/* Write your CSS here */
.bg-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.language-cont {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.repos-cont {
  display: flex;
  list-style: none;
  padding-left: 0px;
  flex-wrap: wrap;
  width: 75%;
}
